BOT_TOKEN=your_bot_token
ADMIN_TELEGRAM_ID=123456789
ADMIN_USERNAME=roman
DATABASE_URL=file:./prisma/dev.db
HELP_LINK=https://telegra.ph/Instrukciya-po-podklyucheniyu-03-25
REMINDER_DAYS=7,3,1
TZ=UTC
SUPPORT_LINK=https://t.me/roman
